install
text
cdrom
skipx
lang en_US.UTF-8
keyboard us
timezone UTC
rootpw vagrant
user --name=vagrant --plaintext --password vagrant
auth --enableshadow --passalgo=sha512 --kickstart
network --bootproto=dhcp
firewall --disabled
selinux --permissive
firstboot --disabled
reboot
unsupported_hardware

zerombr
bootloader --location=mbr
clearpart --all --initlabel
part pv.01 --fstype="lvmpv" --ondisk=sda --size=163275
part /boot --fstype="xfs" --ondisk=sda --size=500
volgroup ol --pesize=4096 pv.01
logvol /opt --fstype="xfs" --grow --size=500 --name=opt --vgname=ol
logvol / --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=ol
logvol swap --fstype="swap" --size=4096 --name=swap --vgname=ol

%packages --instLangs=en_US.utf8 --nobase --ignoremissing --excludedocs
bzip2
curl
gcc
kernel-devel
kernel-headers
make
net-tools
nfs-utils
openssh-clients
perl
samba
selinux-policy-devel
sudo
unzip
vim-minimal
wget

# Remove unnecessary packages
-fprintd-pam
-intltool
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-fprintd-pam
-intltool
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3060-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-linux-firmware
-postfix
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post --log=/root/ks.log
# Configure vagrant user in sudoers
echo "%vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^[^#].*requiretty/#Defaults requiretty/" /etc/sudoers
chmod 0440 /etc/sudoers.d/vagrant
%end
